@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$border-style: 1px solid grey;
$active-color: #D3D3D3;
$inactive-btn-color: grey;
$hover-btn-color: black;
$unread-color: #bdbdbd;
$bg-color: #f7f7f7;
$card-shadow-color: grey;

@import 'main';
@import 'chatbar';
@import 'sidebar';
@import 'card';
@import 'modal';
@import 'dashboard';
@import 'tooltip';
@import 'topnav';
