$table-border: 1px solid darkgrey;

.game-card-box {
  margin: 0 auto;
}
.game-card {
  width: 350px;
  margin: 10px;
  box-shadow: 0px 0px 5px 2px $card-shadow-color;
  flex: 0 0 auto;
  position: relative;
  background-color: white;

  @media (max-width: 767px) {
    width: calc(100vw - 60px);
  }
}

.game-card-main {
  padding: 20px 10px 10px 10px;
  user-select: none;

  .nba-team-logo, .mlb-team-logo, .nhl-team-logo {
    width: 75px;
    padding: 10px;
  }

  .nba-team-name, .mlb-team-name, .nhl-team-name {
    font-size: 1.3em;
    font-weight: 700;
  }

  .nba-score {
    font-size: 1.2em;
    text-align: center;
  }

  .nba-score-home, .nba-score-away {
    padding: 50px;
  }

  .nba-time {
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
  }

  .mlb-innings {
    text-align: center;
    font-size: 0.8em;
    &:first-letter {
      text-transform:capitalize;
    }
  }
  .mlb-score, .nhl-score {
    overflow-x: auto;
    max-width: 330px;
    &::-webkit-scrollbar {
      display: none;
    }
    table {
      text-align: center;
      margin: 5px auto;
      font-size: 0.8rem;

      td {
        width: 24px;
      }
      th {
        text-align: center;
        padding: 0 3px;
      }
      td + td, th + th {
        border-left: $table-border;
      }
      tbody tr {
        border-top: $table-border
      }
      .mlb-score-team-name, .nhl-score-team-name {
        font-weight: 600;
        padding: 0 5px;
      }
    }
  }
  .nhl-time {
    text-align: center;
    font-size: 0.8em;
  }
}

.game-card-pbp {
  font-size: 0.8rem;
  padding: 6px 10px;
  border-top: $border-style;
  max-height: 100px;
  overflow: auto;
  &.pbp-appear {
    max-height: 0px;
    &.pbp-appear-active {
      transition: height 800ms ease;
      max-height: 100px;
    }
  }
  &.pbp-leave {
    max-height: 100px;
    &.pbp-leave-active {
      transition: max-height 800ms ease;
      max-height: 0px;
    }
  }

  span {
    font-size: 0.75rem;
    font-style: italic;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0;

    .innings-play-mlb, .period-play-nhl {
      font-style: italic;
      font-weight: 600;
    }
    .scored-play-mlb, .goal-play-nhl {
      font-weight: 700;
    }

  }
}

.game-card-footer {
  padding: 0;
  height: 32px;
  background-color: $bg-color;

  .game-card-social {
    position: absolute;
    bottom: 0px;
    right: 5px;
  }
  .game-card-pbp-btn {
    font-size: 0.8rem;
    padding: 6px 15px;
  }
  a {
    text-decoration: none;
    color: $inactive-btn-color;
    &:hover {
      color: $hover-btn-color;
    }
    &:focus {
      outline: none;
    }
  }
}

.close-game-card {
  position: absolute;
  top: 1px;
  right: 5px;
  color: $inactive-btn-color;
  &:hover {
    color: $hover-btn-color;
  }
}

@media (max-width: 767px) {
  #chat-btn {
    display: none;
  }
}
