$active-color: #2196f3;

.chat-container {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100vh;
  border-left: 1px solid grey;
  width: 250px;

  .exit-room {
    color: #e2000f;
  }
  .user-count {
    padding: 5px 0;
  }
  .room {
    padding: 8px 5px 8px 10px;
  }

  .chat-input {
    position: fixed;
    bottom: 55px;
  }

  .input-group {
    height: 30px;

    #chat-input {
      font-size: 13px;
    }

    .btn {
      line-height: 0.9;
    }
  }

  .nav.nav-tabs {
    line-height: 0.5;
    overflow: scroll;
  }

  .nav-link {
    padding-left: 0;
  }
  .nav-link.active {
    background: #5bc0de;

    a {
      color: #fff;
    }
  }

  .message-container {
    margin-bottom: 0;

    .message {
      max-width: 25px;
    }

    .chat-user,
    .message {
      overflow-wrap: break-word;
    }

    .chat-user {
      width: 20px;
    }
  }

  .message-list {
    height: calc(100% - 240px);
    overflow: scroll;
    font-size: 0.9em;
  }

  .active {
    color: $active-color;
  }
}
