$active-color: #ff5722;

.chat-container {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100vh;
  border-left: 1px solid grey;
  width: 300px;

  .input-group {
    height: 30px;

    .chat-input {
      position: fixed;
      bottom: 60px;
    }
    .btn {
      line-height: 0.9;
    }
  }

  .message-container {
    .chat-user {}

    .chat-user,
    .message {
      overflow-wrap: break-word;
    }

    .chat-user {
      width: 20px;
    }
  }

  .message-list {
    height: calc(100% - 240px);
    overflow: scroll;
    font-size: 0.9em;
  }

  .active {
    color: $active-color;
  }
}
