/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 56px;
}

h1 {
  margin: 10px 10px 20px 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.dashboard {
  width: 100vw;
  margin-bottom: 40px;
  transition: margin-right 500ms ease;

  &.chat-active {
    margin-right: 25vw;
    transition: margin-right 500ms ease;
  }

  .welcome-message {
    text-align: center;
    margin-top: 30vh;
  }
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .dashboard {
    margin-left: 25vw;
    width: calc(100vw - 220px);
  }
}

@media (min-width: 880px) {
  .dashboard {
    margin-left: 220px;
  }
}

@media (min-width: 992px) {
  .dashboard.chat-active {
    width: calc(75vw - 220px);
  }
}

@media (min-width: 1200px) {
  .dashboard {
    &.chat-active {
      margin-right: 280px;
      width: calc(100vw - 500px);

    }
  }
}
