.modal-header {
  display: inline-block;
}

.ReactModal__Content.ReactModal__Content--after-open {
  @media screen and (max-width: 767px) {
    width: 80vw !important;
    height: 70vh !important;
  }
}

.ReactModal__Overlay {
  z-index: 2000;
}

.hide {
  display: none;
}

.form-control-feedback {
  font-size: 0.85em;
}
