nav.sidebar {
  width: 220px;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;

  .nav-item {
    cursor: pointer;
  }

  img.league-icon {
    height: 30px;
  }

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item+.nav-item {
    margin-left: 0;
  }

  .nav-link {
    border-radius: 0;
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }

    &.date-heading {
      &.date-heading {
        text-decoration: underline;
      }
    }
  }

  .league-heading {
    .active {
      outline: none;
    }

    .nav-item {
      &:hover {
        font-weight: bold;
        transform: scale(1.2);
      }
    }
  }

  .game-container {
    .game {
      font-size: 0.8em;

      &:hover {
        font-weight: bold;
        transform: scale(1.1);
      }
    }

    .no-game {
      cursor: default;
    }
  }

  .league-game-heading {
    background-color: $league-game-heading-color;
    padding: 21px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  img.league-icon.fav-icon {
    height: 1.5em;
  }
}

nav.sidebar {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 767px) {
    width: 100vw;
    top: 54px;

    .game-container {
      overflow: scroll;
    }
  }
}
