.card-tooltip {
    position: relative;
    display: inline-block;
    .card-tooltip-text {
      visibility: hidden;
      font-size: 0.9em;
      min-width: 90px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 3px 12px;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 0px;
      margin-left: -25px;
      white-space: nowrap;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
  }
  &:hover .card-tooltip-text {
    visibility: visible;
  }
}