.topnav {
  // height: 55px;

  .navbar-brand {
  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
  }
}
    a.navitem {
      color: #fff;
      padding: 15px;
      &:hover {
        color: #ff0000;
      }
    }

}